body {
    background-color: whitesmoke;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Bitter', serif;
    letter-spacing: 3px
}

/* Large steam-line animation */

#steamLeftLarge { 
    max-width: 35px; 
    display: block;
    position: absolute; 
    margin: auto 126px auto;
    opacity: 0;
    animation: updown 4s ease infinite;
}

#steamMiddleLarge { 
    max-width: 35px; 
    position:absolute; 
    margin: auto 200px auto;
    opacity: 0;
    animation: updown 4s ease 3s infinite;
}

#steamRightLarge {
    max-width: 35px; 
    position:absolute; 
    margin: auto 270px auto;
    opacity: 0;
    animation: updown 4s ease 1.5s infinite;   
}

/* Medium steam-line animation */

#steamLeftMedium {
    max-width: 20px; 
    position:absolute; 
    margin: auto 86px auto;
    opacity: 0;
    animation: updown 4s ease infinite;
}

#steamMiddleMedium { 
    max-width: 20px; 
    position:absolute; 
    margin: auto 131px auto;
    opacity: 0;
    animation: updown 4s ease 3s infinite;
}

#steamRightMedium {
    max-width: 20px; 
    position:absolute; 
    margin: auto 176px auto;
    opacity: 0;
    animation: updown 4s ease 1.5s infinite;   
}

/* Small steam-line animation */

#steamLeftSmall {
    width: 100%; 
    max-width: 20px;
    display: inline; 
    position:absolute; 
    margin: auto 86px auto !important;
    opacity: 0;
    animation: updown 4s ease infinite;
}

#steamMiddleSmall {
    width: 100%;
    max-width: 20px;
    display: inline; 
    position:absolute; 
    margin: auto 131px auto !important;
    opacity: 0;
    animation: updown 4s ease 3s infinite;
}

#steamRightSmall {
    width: 100%;
    max-width: 20px;
    display: inline;
    position:absolute; 
    margin: auto 176px auto !important;
    opacity: 0;
    animation: updown 4s ease 1.5s infinite;
       
}

@keyframes updown {
    0% {
      transform: translateY(-25%); opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: translateY(-75%); opacity: 0;
    }
  }